force-app/main/default/flows/Case_Autonumber_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>What_is_the_Case_Entry_Source</name>
        <label>What is the Case Entry Source</label>
        <locationX>768</locationX>
        <locationY>443</locationY>
        <defaultConnector>
            <targetReference>Update_Manual_Case_Number_Custom_Setting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_Case_Number_Custom_Settings</targetReference>
            </connector>
            <label>Email Source</label>
        </rules>
        <rules>
            <name>Web_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Web_Case_Prefix_Custom_Settings</targetReference>
            </connector>
            <label>Web Source</label>
        </rules>
        <rules>
            <name>Phone_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone_Case_Number_Custom_Setting</targetReference>
            </connector>
            <label>Phone Source</label>
        </rules>
        <rules>
            <name>Walk_In_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Walk In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WalkIn_Case_Number_Custom_Setting</targetReference>
            </connector>
            <label>Walk In Source</label>
        </rules>
    </decisions>
    <interviewLabel>Case Autonumber Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Autonumber Logic</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Email_Case_Number_Custom_Settings</name>
        <label>Update Email Case Number Custom Setting</label>
        <locationX>113</locationX>
        <locationY>526</locationY>
        <inputAssignments>
            <field>Last_Value__c</field>
            <value>
                <elementReference>$Record.Tech_Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Email_Case_Number_Prefix__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Manual_Case_Number_Custom_Setting</name>
        <label>Update Manual Case Number Custom Setting</label>
        <locationX>1438</locationX>
        <locationY>537</locationY>
        <inputAssignments>
            <field>Last_Value__c</field>
            <value>
                <elementReference>$Record.Tech_Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Manual_Case_Number_Prefix__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Phone_Case_Number_Custom_Setting</name>
        <label>Update Phone Case Number Custom Setting</label>
        <locationX>771</locationX>
        <locationY>709</locationY>
        <inputAssignments>
            <field>Last_Value__c</field>
            <value>
                <elementReference>$Record.Tech_Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Phone_Case_Number_Prefix__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WalkIn_Case_Number_Custom_Setting</name>
        <label>Update WalkIn Case Number Custom Setting</label>
        <locationX>1027</locationX>
        <locationY>715</locationY>
        <inputAssignments>
            <field>Last_Value__c</field>
            <value>
                <elementReference>$Record.Tech_Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>WalkIn_Case_Number_Prefix__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Web_Case_Prefix_Custom_Settings</name>
        <label>Update Web Case Number Custom Setting</label>
        <locationX>512</locationX>
        <locationY>703</locationY>
        <inputAssignments>
            <field>Last_Value__c</field>
            <value>
                <elementReference>$Record.Tech_Case_Number__c</elementReference>
            </value>
        </inputAssignments>
        <object>Web_Case_Email_Prefix__c</object>
    </recordUpdates>
    <startElementReference>What_is_the_Case_Entry_Source</startElementReference>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
