force-app/main/default/flows/Case_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_to_Agent</name>
        <label>Route to Agent</label>
        <locationX>1175</locationX>
        <locationY>448</locationY>
        <actionName>skillsBasedRouting</actionName>
        <actionType>skillsBasedRouting</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K95j000000XkTSCA0</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>AssignMatchedSkills</name>
        <label>AssignMatchedSkills</label>
        <locationX>902</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>AllSkillSeparatedinComma</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatenatedString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Skills</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_the_Subject_contains</name>
        <label>Does the Subject contains skill name of the current skill</label>
        <locationX>251</locationX>
        <locationY>589</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>subjectField</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Skills.MasterLabel</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>preferredLanguage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_Skills.MasterLabel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignMatchedSkills</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ConcatenatedString</name>
        <dataType>String</dataType>
        <expression>{!AllSkillSeparatedinComma}+&apos;,&apos;+{!Loop_through_Skills.Id}</expression>
    </formulas>
    <interviewLabel>Case Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Routing</label>
    <loops>
        <name>Loop_through_Skills</name>
        <label>Loop through Skills</label>
        <locationX>786</locationX>
        <locationY>445</locationY>
        <collectionReference>Get_All_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_the_Subject_contains</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Route_to_Agent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Skills</name>
        <label>Get All Skills</label>
        <locationX>785</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Skills</targetReference>
        </connector>
        <object>Skill</object>
    </recordLookups>
    <startElementReference>Get_All_Skills</startElementReference>
    <status>Active</status>
    <variables>
        <name>AllSkillSeparatedinComma</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>preferredLanguage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subjectField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
