force-app/main/default/flows/customer_review_of_solar_panels.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_fbe017e8_e9ce_4322_b3d0_6e9957363102</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_64c35e58_5504_41e4_a2ca_341c7abc39d8</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_d6523feb_976e_47d2_9048_957122451636</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_c1be87dc_1eb4_4b9b_a222_7a6bb1fe5c4b</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_d067ae69_70c1_41ec_a324_5359186abf7a</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>p_fbe017e8_e9ce_4322_b3d0_6e9957363102</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank0&quot;,&quot;rankText&quot;:&quot;{!q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank1&quot;,&quot;rankText&quot;:&quot;{!q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank2&quot;,&quot;rankText&quot;:&quot;{!q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank3&quot;,&quot;rankText&quot;:&quot;{!q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pageNamesInOrder_Assignment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_02ef1e90_c4c8_4172_a92a_9dfa6ca5d444</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_8364e442_bcb6_4e0e_9c72_e2c198a8c084</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_af187f9a_e1cf_4a05_b1df_d25264e82089</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b446c9c3_074c_4f14_abb0_f4e55a920aee</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_bf1d1acb_f94a_4f50_b876_3c2c7617757a</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Customer Review of Solar Panels</interviewLabel>
    <label>Customer Review of Solar Panels</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_customer_review_of_solar_panel_f0aa8310_cf5d_4ed2_b088_5c756c6c7901</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_64c35e58_5504_41e4_a2ca_341c7abc39d8</name>
        <label>Solar Panel Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_d6523feb_976e_47d2_9048_957122451636</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_2e704a8c_dfc6_48de_aa9b_69c8e1f1b4ec_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2e704a8c_dfc6_48de_aa9b_69c8e1f1b4ec</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Score our solar panels.&lt;/span&gt;&lt;img src=&quot;https://viseo100-dev-ed--c.documentforce.com/file-asset-public/solar_panel2?oid=00D5j000004nS1H&amp;amp;v=1&quot; alt=&quot;solar_panel&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_c1be87dc_1eb4_4b9b_a222_7a6bb1fe5c4b</name>
        <label>Rank and Recommend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_d067ae69_70c1_41ec_a324_5359186abf7a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Rank which features of the solar panels are the most useful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_f01a024f_f4f4_49b7_abf1_83a12996ec7d_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f01a024f_f4f4_49b7_abf1_83a12996ec7d</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Would you recommend our solar panels to your friends and family?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_d067ae69_70c1_41ec_a324_5359186abf7a</name>
        <label>Other Improvement Areas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d70d9c2f_b76c_4982_8d7c_1fddd66e65b8</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Any other areas of improvement?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_d6523feb_976e_47d2_9048_957122451636</name>
        <label>Low Score Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_c1be87dc_1eb4_4b9b_a222_7a6bb1fe5c4b</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c2b73439_634e_4e9b_bce4_b7b9e722ddf7</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Tell us why you rated our solar panel &lt;/span&gt;{!q_2e704a8c_dfc6_48de_aa9b_69c8e1f1b4ec}?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_fbe017e8_e9ce_4322_b3d0_6e9957363102</name>
        <label>Solar Panel Installation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_64c35e58_5504_41e4_a2ca_341c7abc39d8</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_72f0ffa3_051c_4b91_b941_478c812653f0_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_72f0ffa3_051c_4b91_b941_478c812653f0</name>
            <choiceReferences>c_b446c9c3_074c_4f14_abb0_f4e55a920aee</choiceReferences>
            <choiceReferences>c_af187f9a_e1cf_4a05_b1df_d25264e82089</choiceReferences>
            <choiceReferences>c_02ef1e90_c4c8_4172_a92a_9dfa6ca5d444</choiceReferences>
            <choiceReferences>c_bf1d1acb_f94a_4f50_b876_3c2c7617757a</choiceReferences>
            <choiceReferences>c_8364e442_bcb6_4e0e_9c72_e2c198a8c084</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Rate your experience with the solar panel installation.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5b9b3291_3aea_4c4e_a82f_1375354a80c8</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Tell us what didn’t go well with the installation. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank0</name>
        <text>Low Maintenance</text>
    </textTemplates>
    <textTemplates>
        <name>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank1</name>
        <text>Protects Your Roof</text>
    </textTemplates>
    <textTemplates>
        <name>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank2</name>
        <text>Constant Power Source</text>
    </textTemplates>
    <textTemplates>
        <name>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank3</name>
        <text>Highly Durable</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: &amp;quot;Salesforce Sans&amp;quot;, -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, sans-serif;&quot;&gt;Thank you for helping us make everyone’s day a little brighter!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_1a3b7653_c162_48ec_80ac_e26fc484cbd7_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_2e704a8c_dfc6_48de_aa9b_69c8e1f1b4ec_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_72f0ffa3_051c_4b91_b941_478c812653f0_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_f01a024f_f4f4_49b7_abf1_83a12996ec7d_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
