force-app/main/default/flows/WebCHat_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Bahasa</name>
        <label>Add Bahasa</label>
        <locationX>1662</locationX>
        <locationY>675</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_by_Skill</targetReference>
        </connector>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;1fcc8a18&quot;,&quot;skillId&quot;:&quot;0C55j000000XdF5CAK&quot;,&quot;skillLabel&quot;:&quot;Bahasa&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Chinese</name>
        <label>Add Chinese</label>
        <locationX>1358</locationX>
        <locationY>665</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_by_Skill</targetReference>
        </connector>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;3f5bb579&quot;,&quot;skillId&quot;:&quot;0C55j000000XdEvCAK&quot;,&quot;skillLabel&quot;:&quot;Chinese&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_English</name>
        <label>Add English</label>
        <locationX>1216</locationX>
        <locationY>664</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_by_Skill</targetReference>
        </connector>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;5aa2dd7b&quot;,&quot;skillId&quot;:&quot;0C55j000000XdE7CAK&quot;,&quot;skillLabel&quot;:&quot;English&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Tamil</name>
        <label>Add Tamil</label>
        <locationX>1498</locationX>
        <locationY>674</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_by_Skill</targetReference>
        </connector>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;2f8a8cab&quot;,&quot;skillId&quot;:&quot;0C55j000000XdF0CAK&quot;,&quot;skillLabel&quot;:&quot;Tamil&quot;,&quot;skillLevel&quot;:&quot;0&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_by_Skill</name>
        <label>Route by Skill</label>
        <locationX>1430</locationX>
        <locationY>1028</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>SkillRequirements</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>routeID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N95j000000PepLCAS</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>assignRouteID</name>
        <label>assignRouteID</label>
        <locationX>638</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>routeID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RoutingConfigIds.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Pre_Chat_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Subject</name>
        <label>Capture Subject</label>
        <locationX>1009</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>SubjectField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Pre_Chat_Entries.CustomDetailContextValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Pre_Chat_Entries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_that_Entry_is_Subject_Field</name>
        <label>Check that Entry is Subject Field</label>
        <locationX>789</locationX>
        <locationY>940</locationY>
        <defaultConnector>
            <targetReference>Loop_Over_Pre_Chat_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Entry_is_Subject_Field</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Pre_Chat_Entries.CustomDetailContextKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Subject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Subject</targetReference>
            </connector>
            <label>Entry is Subject Field</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Skill_Should_be_Added</name>
        <label>Which Skill Should be Added?</label>
        <locationX>1366</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>All Other Skills</defaultConnectorLabel>
        <rules>
            <name>Subject_Contains_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubjectField</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_English</targetReference>
            </connector>
            <label>Subject Contains English</label>
        </rules>
        <rules>
            <name>Subject_Contains_Chinese</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubjectField</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Chinese</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Chinese</targetReference>
            </connector>
            <label>Subject Contains Chinese</label>
        </rules>
        <rules>
            <name>Subject_Contains_Tamil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubjectField</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tamil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Tamil</targetReference>
            </connector>
            <label>Subject Contains Tamil</label>
        </rules>
        <rules>
            <name>Subject_Contains_Bahasa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubjectField</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bahasa</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Bahasa</targetReference>
            </connector>
            <label>Subject Contains Bahasa</label>
        </rules>
    </decisions>
    <interviewLabel>WebCHat_Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WebCHat_Routing</label>
    <loops>
        <name>Loop_Over_Pre_Chat_Entries</name>
        <label>Loop Over Pre Chat Entries</label>
        <locationX>798</locationX>
        <locationY>476</locationY>
        <collectionReference>prechatInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_that_Entry_is_Subject_Field</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Which_Skill_Should_be_Added</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>RoutingConfigIds</name>
        <label>RoutingConfigIds</label>
        <locationX>472</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRouteID</targetReference>
        </connector>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High Priority Cases</stringValue>
            </value>
        </filters>
        <object>QueueRoutingConfig</object>
    </recordLookups>
    <startElementReference>RoutingConfigIds</startElementReference>
    <status>Active</status>
    <variables>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <name>queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>routeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>SubjectField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
